### Creating and Persisting an ML Model

In [52]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/student-mat.csv', sep=';')

Summary of the data

In [53]:
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [54]:
df.info

<bound method DataFrame.info of     school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]>

Create a subset of features as an example.

In [55]:
include = ['reason','studytime', 'activities', 'Dalc', 'freetime', 'absences', 'G1', 'G2', 'G3', 'qual_student']
df.drop(columns=df.columns.difference(include), inplace=True)

In [56]:
df.info

<bound method DataFrame.info of      reason  studytime activities  freetime  Dalc  absences  G1  G2  G3
0    course          2         no         3     1         6   5   6   6
1    course          2         no         3     1         4   5   5   6
2     other          2         no         3     2        10   7   8  10
3      home          3        yes         2     1         2  15  14  15
4      home          2         no         3     1         4   6  10  10
..      ...        ...        ...       ...   ...       ...  ..  ..  ..
390  course          2         no         5     4        11   9   9   9
391  course          1         no         4     3         3  14  16  16
392  course          1         no         5     3         3  10   8   7
393  course          1         no         4     3         0  11  12  10
394  course          1         no         2     3         5   8   9   9

[395 rows x 9 columns]>

The goal is to predict the quality of the student. We will build a predictor based on the final grade (G3).
Becasue we are trying to find quality students. In this model we define a quality student as one who achieves a final grade of 15 or higher.

In [57]:
# df['qual_student'] = np.where((df['G3']>=15) & (df['G2'] >= 15) & (df['G1'] >= 15) & (df['studytime'] >= 3) & (df['activities'] == yes) & (df['absences'] <= 5), 1, 0)

df['qual_student'] = np.where((df['G3']>=15) | (df['G3']>=16) | (df['G3']>=16), 1, 0)

In [58]:
df.describe()
display(df)

,reason,studytime,activities,freetime,Dalc,absences,G1,G2,G3,qual_student
0,course,2,no,3,1,6,5,6,6,0
1,course,2,no,3,1,4,5,5,6,0
2,other,2,no,3,2,10,7,8,10,0
3,home,3,yes,2,1,2,15,14,15,1
4,home,2,no,3,1,4,6,10,10,0
...,...,...,...,...,...,...,...,...,...,...
390,course,2,no,5,4,11,9,9,9,0
391,course,1,no,4,3,3,14,16,16,1
392,course,1,no,5,3,3,10,8,7,0
393,course,1,no,4,3,0,11,12,10,0
394,course,1,no,2,3,5,8,9,9,0

Drop the G3 score

Import scikit-learn and build a random forest classifer

In [59]:
from sklearn.ensemble import RandomForestClassifier as rf
import sklearn
dependent_variable = 'qual_student'
x = df[df.columns.difference([dependent_variable])]
y = df[dependent_variable]
x = pd.get_dummies(x)
clf = rf(n_estimators = 1000)
clf.fit(x, y)

RandomForestClassifier(n_estimators=1000)

In [67]:
display(x)

,Dalc,G1,G2,G3,absences,freetime,studytime,activities_no,activities_yes,reason_course,reason_home,reason_other,reason_reputation
0,1,5,6,6,6,3,2,1,0,1,0,0,0
1,1,5,5,6,4,3,2,1,0,1,0,0,0
2,2,7,8,10,10,3,2,1,0,0,0,1,0
3,1,15,14,15,2,2,3,0,1,0,1,0,0
4,1,6,10,10,4,3,2,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,4,9,9,9,11,5,2,1,0,1,0,0,0
391,3,14,16,16,3,4,1,1,0,1,0,0,0
392,3,10,8,7,3,5,1,1,0,1,0,0,0
393,3,11,12,10,0,4,1,1,0,1,0,0,0
394,3,8,9,9,5,2,1,1,0,1,0,0,0

In [60]:
pred = clf.predict(x)
sklearn.metrics.f1_score(y, pred, average='binary')

1.0

Let's export this model so we can use it in a microservice (flask api)

In [61]:
import joblib
# modify the file path to where you want to save the model
joblib.dump(clf, 'app/handlers/model.pkl')

['app/handlers/model.pkl']

In [63]:
'reason','studytime', 'activities', 'Dalc', 'freetime', 'absences', 'G1', 'G2', 'G3'
query_df = pd.DataFrame({ 'reason' : pd.Series(1) ,'studytime' : pd.Series(2) ,'activities' : pd.Series(3), 'Dalc' : pd.Series(4), 'freetime' : pd.Series(5), 'absences' : pd.Series(6), 'G1' : pd.Series(7), 'G2' : pd.Series(8), 'G3' : pd.Series(9)})

In [64]:
pred = clf.predict(query_df)

/Users/chloechan/miniconda3/lib/python3.8/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- activities
- reason
Feature names seen at fit time, yet now missing:
- activities_no
- activities_yes
- reason_course
- reason_home
- reason_other
- ...

  warnings.warn(message, FutureWarning)

ValueError: X has 9 features, but RandomForestClassifier is expecting 13 features as input.

In [ ]:
x

In [ ]:
type(x)